footer {
    background-color: #dddddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    opacity: 0.88;
}
a {
    color:#17a2b8;
}